<h1>Buttons</h1>

<div class="span3">
  <a href="#" class="btn btn-large btn-block">Default Button</a>
</div>
<div class="span3">
  <a href="#" class="btn btn-large btn-block btn-primary">Primary Button</a>
</div>
<div class="span3">
  <a href="#" class="btn btn-large btn-block btn-info">Info Button</a>
</div>
<div class="span3 last">
  <a href="#" class="btn btn-large btn-block btn-danger">Danger Button</a>
</div>

<div class="span3">
  <a href="#" class="btn btn-large btn-block btn-success">Success Button</a>
</div>
<div class="span3">
  <a href="#" class="btn btn-large btn-block btn-warning">Warning Button</a>
</div>
<div class="span3">
  <a href="#" class="btn btn-large btn-block btn-inverse">Inverse Button</a>
</div>
<div class="span3 last">
  <a href="#" class="btn btn-large btn-block disabled">Disabled Button</a>
</div>
