<h1 id="form_elements">
  Fieldsets, Legends, and Form Elements
</h1>
<fieldset>
  <legend>Legend</legend>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.
  </p>
  <form>
    <h2>
      Form Element
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.
    </p>
    <div class="span3">
      <label for="text_field">Text Field:</label> <input id="text_field" type="text" /> <label for="text_area">Text Area:</label> 
      <textarea id="text_area">
</textarea>
      <label for="select_element">Select Element:</label> 
      <select name="select_element">
        <option value="1">
          Option 1
        </option>
        <option value="2">
          Option 2
        </option>
        <option value="3">
          Option 3
        </option>
        <option value="1">
          Option 1
        </option>
        <option value="2">
          Option 2
        </option>
        <option value="3">
          Option 3
        </option>
      </select>
    </div>
    <div class="span3">
      <label for="radio_buttons">Radio Buttons:</label><br />
      <input class="radio" name="radio_button" type="radio" value="radio_1" /> Radio 1<br />
      <input class="radio" name="radio_button" type="radio" value="radio_2" /> Radio 2<br />
      <input class="radio" name="radio_button" type="radio" value="radio_3" /> Radio 3<br />
    </div>
    <div class="span3">
      <label for="checkboxes">Checkboxes:</label><br />
      <input class="checkbox" name="checkboxes" type="checkbox" value="check_1" /> Radio 1<br />
      <input class="checkbox" name="checkboxes" type="checkbox" value="check_2" /> Radio 2<br />
      <input class="checkbox" name="checkboxes" type="checkbox" value="check_3" /> Radio 3<br />
    </div>
    <div class="span3 last">
      <label for="password">Password:</label><br />
      <input class="password" name="password" type="password" />
      <p>
        <label for="file">File Input:</label><br />
        <input class="file" name="file" type="file" />
      </p>
    </div>
  </form>
</fieldset>