<h1 id="misc">
  Misc Stuff - abbr, acronym, pre, code, sub, sup, etc.
</h1>
<p>
  Lorem <sup>superscript</sup> dolor <sub>subscript</sub> amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. <cite>Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis</cite>.
</p>
<pre>
  (* nth term is sum of previous 2 terms. Starting with 0 and 1. *)
  let rec f n = match n with 0 -&gt; 0 | 1 -&gt; 1 | x -&gt; f (n-1) + f (n-2);;
</pre>
<!-- End of Sample Content -->