<h1 id="tables">
  Tables
</h1>
<table cellpadding="0" cellspacing="0" class="striped">
  <tr>
    <th>
      One
    </th>
    <th>
      Two
    </th>
    <th>
      Three
    </th>
  </tr>
  <tr>
    <td>
      Python
    </td>
    <td>
      Scala
    </td>
    <td>
      Ruby
    </td>
  </tr>
  <tr class="even">
    <td>
      OCaml
    </td>
    <td>
      Haskell
    </td>
    <td>
      Lisp
    </td>
  </tr>
  <tr>
    <td>
      Clojure
    </td>
    <td>
      Scheme
    </td>
    <td>
      Java
    </td>
  </tr>
</table>