!!!5
%html{:class => "no-js", :lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title="My Project"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %meta{:name => "viewport", :content => ""}
    %link{:rel => "stylesheet", :href => "public/stylesheets/css/style.css", :type => "text/css"}
    %link{:href =>'http://fonts.googleapis.com/css?family=PT+Sans:400,700,700italic,400italic', :rel =>'stylesheet', :type =>'text/css'}

  %body
    .container
      %h1.center Gravity
      %section.section-1
        %h3 Paragraphs
        .span-5
          %p Gravity is a handcrafted, responsive SASS based framework for making better websites. If you like this then please share. You are free to use this code in any you wish. Now go make some websites!
      
          %pre
            %code This is a code block

        .span-6
          %p
            %b Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %p
            %a Link Here
          %p
            %i Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        .span-5
          %p 
            %small Small text. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          %q Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	
      %section.section-2
        .span-6
          %h3 Misc Elements
          %p 
            %del Strike through
        .span-10
          %blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  styles. 

      %section
        
        %h3 Rails Helpers

        %div.error Error message
        %div.notice Notice
        %div.success Success message

      %section.section-3
        .span-5
          %img{:src => "http://placehold.it/300x200"}

        .span-6
          %img{:src => "http://placehold.it/300x200"}

        .span-5
          %img{:src => "http://placehold.it/300x200"}
		
      %section.section-4
        .span-5
          %h1 Heading 1
          %h2 Heading 2
          %h3 Heading 3
          %h4 Heading 4
          %h5 Heading 5
          %h6 Heading 6
        .span-6
          %h1 Lorem ipsum 
          %h2 Lorem ipsum dolor
          %h3 Lorem ipsum dolor
          %h4 Lorem ipsum dolor sit amet
          %h5 Lorem ipsum dolor sit amet
          %h6 Lorem ipsum dolor sit amet
        .span-5
          %h1.serif Serif Heading
          %h2.serif Heading 2
          %h3.serif Heading 3
          %h4.serif Heading 4
          %h5.serif Serif
          %h6.serif Heading 6
 		
      %section.section-5
        .span-6
          %h3 Forms
          %p Default forms. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

          %ul.input-list
            %li
              %input(type="radio") Radio button 1
            %li
              %input(type="radio") Another
            %li 
              %input(type="radio") Radio 3

          %label Password input
          %input(type="password" value="password")

          %input(type="search") 


        .span-10
          %form
            %label Text input
            %input(type="text")

            %label Email input
            %input(type="email")

            %label Select
            %select
              %option First
              %option Second
              %option Third

            %input.button{:type => "submit"}

          %h3 Stacked Checkboxes
          %ul.input-list
            %li
              %input(type="checkbox") Checkbox
            %li 
              %input(type="checkbox") List item
            %li
              %input(type="checkbox") Another item

          %label Textarea
          %textarea
	
      %section.section-6
        %h3 Lists
        .span-4
          %ul
            %li Some long text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            %li Unordered list test
            %li 
              Some item
              %ul
                %li Unordered list test
                %li Another item
                %li Sub item
                %li Final list item
        .span-4
          %ol 
            %li Item 1
            %li 
              Nested ol
              %ol
                %li Nested item
                %li Another one
                %li Item 2
                %li 
                  Item 3
                  %ul
                    %li Sub item

        .span-4
          %dl
            %dt Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit
            %dd Item 1
            %dd Some title
            %dd Item 2
            %dd Item 3

        .span-4
          %ul.unstyled
            %li Unstyled items
            %li Another unstyled list item
            %li 
              Some text
              %ul
                %li Sub item in list
                %li Another sub item
  	
      %section.section-7
        %h3 Tabular Data
        .span-16
          %table
            %thead
              %tr
                %th Name
                %th Address
                %th Email
              %tr
                %td Lorem ipsum
                %td Lorem ipsum
                %td Lorem ipsum
              %tr
                %td Lorem ipsum
                %td Lorem ipsum
                %td Lorem ipsum

              %tr
                %td Lorem ipsum
                %td Lorem ipsum
                %td Lorem ipsum
              %tr
                %td Lorem ipsum
                %td Lorem ipsum
                %td Lorem ipsum

      %section.section-8
        %h3 Buttons
        %a.button Submit
        %a.button.delete Delete
        %a.button.main Default button

      %p.center 
        Gravity Framework by 
        %a{:href => "http://www.owainlewis.com"} Owain Lewis.
