/**====================================

MIXINS

=======================================*/
/* Don't use native buttons on iOS */
input[type=submit].button {
  -webkit-appearance: none; }

.button {
  display: block;
  margin: 20px 0; }

.button, input.button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fafafa;
  cursor: pointer;
  color: #333333;
  display: inline-block;
  text-align: center;
  padding: 8px;
  overflow: hidden;
  border: 1px solid #e1e1e1;
  min-width: 80px;
  background: #fafafa;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e1e1e1));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #fafafa, #e1e1e1);
  /* for firefox 3.6+ */ }
  .button:hover, input.button:hover {
    background: #ededed;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#e1e1e1));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #ededed, #e1e1e1);
    /* for firefox 3.6+ */
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
  .button:active, input.button:active {
    background: #d1d1d1;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#e3e3e3));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #d1d1d1, #e3e3e3);
    /* for firefox 3.6+ */
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }

.black .button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  color: #333333;
  display: inline-block;
  text-align: center;
  padding: 8px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  min-width: 80px;
  background: white;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e6e6e6));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, #e6e6e6);
  /* for firefox 3.6+ */ }
  .black .button:hover {
    background: #f2f2f2;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e6e6e6));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #f2f2f2, #e6e6e6);
    /* for firefox 3.6+ */
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
  .black .button:active {
    background: #d6d6d6;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#d6d6d6), to(#e8e8e8));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #d6d6d6, #e8e8e8);
    /* for firefox 3.6+ */
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }

.button.main {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fafafa;
  cursor: pointer;
  color: #333333;
  display: inline-block;
  text-align: center;
  padding: 8px;
  overflow: hidden;
  border: 1px solid #e1e1e1;
  min-width: 80px;
  background: #fafafa;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e1e1e1));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #fafafa, #e1e1e1);
  /* for firefox 3.6+ */ }
  .button.main:hover {
    background: #ededed;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#e1e1e1));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #ededed, #e1e1e1);
    /* for firefox 3.6+ */
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
  .button.main:active {
    background: #d1d1d1;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#e3e3e3));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #d1d1d1, #e3e3e3);
    /* for firefox 3.6+ */
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }

.button.delete {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fafafa;
  cursor: pointer;
  color: #333333;
  display: inline-block;
  text-align: center;
  padding: 8px;
  overflow: hidden;
  border: 1px solid #e1e1e1;
  min-width: 80px;
  background: #fafafa;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e1e1e1));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #fafafa, #e1e1e1);
  /* for firefox 3.6+ */ }
  .button.delete:hover {
    background: #ededed;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#e1e1e1));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #ededed, #e1e1e1);
    /* for firefox 3.6+ */
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
  .button.delete:active {
    background: #d1d1d1;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#e3e3e3));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #d1d1d1, #e3e3e3);
    /* for firefox 3.6+ */
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
