@import lib/core

/*-----------------------------------
 *
 * Demo CSS. 
 * Delete anything below this line you don't need
 *
 *-----------------------------------

body
  background: url(../../images/baseline-20.png) repeat center 0px

.container
  max-width: 1100px
  margin: 0 auto
  padding: 20px
  overflow: hidden
  border-left: 1px solid #eaeaea
  border-right: 1px solid #eaeaea

section
  +block

.section-1
  min-height: 240px

.section-2
  min-height: 220px

.section-3
  min-height: 260px

.section-4
  min-height: 320px

.section-5
  min-height: 580px

.section-6
  min-height: 280px

.section-7
  min-height: 260px

/*-----------------------------------
 *
 * Media Queries. 
 * Must be below main css to override 
 *
 *-----------------------------------

//Media Queries
@import lib/layout/media_queries
