/*
Syntax error: Undefined variable: "$white".
        on line 9 of public/stylesheets/scss/core/_base.scss
        from line 2 of public/stylesheets/scss/core/all.scss

Backtrace:
public/stylesheets/scss/core/_base.scss:9
public/stylesheets/scss/core/all.scss:2
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/script/variable.rb:49:in `_perform'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/script/node.rb:40:in `perform'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:296:in `visit_prop'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:225:in `block in visit_import'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:225:in `map'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/root_node.rb:20:in `render'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/engine.rb:315:in `_render'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/engine.rb:262:in `render'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:201:in `each'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/plugin.rb:107:in `method_missing'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/exec.rb:444:in `watch_or_update'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/exec.rb:307:in `process_result'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/exec.rb:41:in `parse'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/exec.rb:21:in `parse!'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/bin/sass:8:in `<top (required)>'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/bin/sass:23:in `load'
/Users/owainlewis/.rvm/gems/ruby-1.9.3-p194/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$white\".\A         on line 9 of public/stylesheets/scss/core/_base.scss\A         from line 2 of public/stylesheets/scss/core/all.scss"; }
