// BUTTON KIT
// --------------

$buttonDefaultColor: #eee;

@mixin button($color, $text_color: #333) {
  
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 7px 20px;
  margin: 0 0 $baseline;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font-size: $fontSize - 2;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  background-color: #ddd;
  transition: background-color .2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  @include gradient($color, darken($color, 5%));
  @include border-radius(5px);
  text-shadow: 0 1px 0 rgba(255,255,255, .9);  

  &:hover{
    @include gradient(darken($color,5%), darken($color, 10%));
  }
}

@mixin colorButton($color, $textColor) {
  
  @include gradient($color, darken($color, 5%));
  color:$textColor;
  text-shadow:none;
  
  &:hover {
    @include gradient(darken($color,5%), darken($color, 10%));
  };
}

.button {
  @include button($buttonDefaultColor);
}

.button.green{
  @include colorButton($green, $white);
}

.button.red{
  @include colorButton($red, $white);
}

.button.blue{
  @include colorButton($blue, $white);
}

.button.black{
  @include colorButton(#333, $white);
}
