// Colors
$base: #34495e;
$firm: #1abc9c;

$gray: #95a5a6;
$lightgray: #ecf0f1;
$inverse: white;

$success: #2ecc71;
$danger: #e74c3c;
$warning: #f1c40f;
$info: #3498db;

@mixin button-states($color) {
  background-color: $color;
  &:hover,
  &:focus {
    background-color: scale-color($color, $lightness: 20%);
  }
  &:active,
  &.active {
    background-color: scale-color($color, $lightness: -15%);
  }
}

// Buttons -----------------------
.btn, .button {
  border: none;
  background: $base;
  color: $inverse;
  font-size: 16.5px;
  margin: 0 0 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  display: block;
  padding:10px 20px;
  @include box-shadow(none);
  @include border-radius(6px);
  @include transition(0.25s);
  &:hover,
  &:focus {
    background-color: scale-color($base, $lightness: 20%);
    color: $inverse;
    @include transition(0.25s);
  }
  &:active,
  &.active {
    background-color: scale-color($base, $lightness: -15%);
    color: rgba($inverse, 0.75);
    @include box-shadow(none);
  }
  &.disabled,
  &[disabled] {
    background-color: $gray;
    color: $inverse;
  }
  // Sizes -----------------------
  &.btn-large {

  }
  // Colors -----------------------
  &.btn-primary {
    @include button-states($firm);
  }
  &.btn-info {
    @include button-states($info);
  }
  &.btn-danger {
    @include button-states($danger);
  }
  &.btn-success {
    @include button-states($success);
  }
  &.btn-warning {
    @include button-states($warning);
  }
}
