// Colors

$formColor: #34495e;

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

label { display: block; }

@mixin placeholder-color($color) {
  &:-moz-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
  &.placeholder {
    color: $color;
  }
}

@mixin input-states($color) {
  border-color: $color;
  color: $color;
  @include box-shadow(none);
  &:focus {
    @include box-shadow(none);
  }
}

// Text fields
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 2px solid scale-color($formColor, $lightness: 85%);
  min-width:220px;
  margin: 0 0 10px;
  padding: 10px;
  border-color: rgba(100,100,100,0.5);
  outline: 0;
  @include border-radius(6px);
  @include box-shadow(none);
  @include placeholder-color(desaturate(scale-color($formColor, $lightness: 60%), 15%));
  &:focus {
    border-color: $formColor;
    @include box-shadow(none);
  }
}
