// FLUID GRID
// --------------

@import 'responsive';

.container {
	max-width: 1020px;
	margin: 0 auto;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
	float: left;
	margin: 0 3% 0 0;
}

.span1.last, .span2.last, .span3.last, .span4.last, .span5.last, .span6.last, .span7.last, .span8.last, .span9.last, .span10.last, .span11.last, .span12 {
	margin: 0;
}

.span1 { width: 5.5%; }
.span2 { width: 14%; }
.span3 { width: 22.5%; }
.span4 { width: 31%; }
.span5 { width: 39.5%; }
.span6 { width: 48%; }
.span7 { width: 56.5%; }
.span8 { width: 65%; }
.span9 { width: 73.5%; }
.span10 { width: 82%; }
.span11 { width: 90.5%; }
.span12 { width: 99%; margin: 0; }

.span1 img, .span2 img, .span3 img, .span4 img, .span5 img, .span6 img, .span7 img, .span8 img, .span9 img, .span10 img, .span11 img, .span12 img {
	width: 100%;
	height: auto;
	display: block;
}

@media all and (max-width: 768px) {
	.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11 {
		float: none;
		width: 99%;
	}
}