// LISTS
// --------------

ol, ul, dl {
  padding: 0;
  margin: 0;
}

ol {
  margin-bottom: $baseline;
  margin-left: $baseline;
  ol {
    margin-bottom: 0;
  }
}

ul {
  margin-bottom: $baseline;
  list-style: none;
  li {
    margin-bottom: $baseline/2;
    ul {
      margin-left: 0;
      margin-bottom: $baseline / 2;
    }
  }
}

ul.unstyled {
  list-style: none;
  li {
    margin-left: 0;
  }
}

dl {
  margin-bottom: $baseline/2;
  dt {
    font-weight: bold;
    margin-bottom: $baseline/2;
  }
  dd {
    margin-bottom: $baseline/2;
  }
}