/*=BUTTON MIXINS
=======================================*/

@mixin button($color: lighten(desaturate($blue,10%), 10%), $text_color: $white) {
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: 10px 25px;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  @include border-radius(5px);

  color: $text_color;
  font-weight: bold;
  border: solid 1px darken($color, 18%);
  @include gradient($color, darken($color, 15%));

  &:hover {
    text-decoration: none;
    @include gradient($color, darken($color, 5%));
  }

  &:active {
    @include gradient($color, lighten($color, 15%));
  }
}