// MIXINS
// --------------

@mixin font-size($size) {
  font-size: $size + px;
  font-size: ($size / 10) + rem;
}

@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin content-columns($columnCount, $columnGap: 20px) {
  -webkit-column-count: $columnCount;
  -moz-column-count: $columnCount;
  column-count: $columnCount;
  -webkit-column-gap: $columnGap;
  -moz-column-gap: $columnGap;
  column-gap: $columnGap;
}

@mixin border-image ($image) {
  -webkit-border-image: $image;
  -moz-border-image: $image;
  -ms-border-image: $image;
  -o-border-image: $image;
  border-image: $image;
}

@mixin opacity($opacity: 100) {
  filter: alpha(opacity = $opacity);
  -khtml-opacity: $opacity / 100;
  -moz-opacity: $opacity / 100;
  opacity: $opacity / 100;
}

@mixin text-shadow($x-axis: 0, $y-axis: 1px, $casting: 0, $color: white) {
  text-shadow: $x-axis $y-axis $casting $color;
}

@mixin transition($property: all, $duration: 0.5s, $function: ease-in-out) {
  -moz-transition: $property $duration $function;
  -o-transition: $property $duration $function;
  -webkit-transition: $property $duration $function;
  transition: $property $duration $function;
}

@mixin transform($property: none) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin transform-origin($axes: 50%) {
  -webkit-transform-origin: $axes;
  -moz-transform-origin: $axes;
  -ms-transform-origin: $axes;
  -o-transform-origin: $axes;
  transform-origin: $axes;
}

@mixin box-shadow($shadow: 0 1px 3px rgba(0, 0, 0, 0.25)) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin gradient($from: #111111, $to: #333333) {
  background: $from;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, $from, $to);
  /* for firefox 3.6+ */
}
