/**====================================

MIXINS

=======================================*/

@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin content-columns($columnCount, $columnGap: 20px) {
  -webkit-column-count: $columnCount;
  -moz-column-count: $columnCount;
  column-count: $columnCount;
  -webkit-column-gap: $columnGap;
  -moz-column-gap: $columnGap;
  column-gap: $columnGap;
}

@mixin border-image ($image) {
  -webkit-border-image: $image;
  -moz-border-image: $image;
  -ms-border-image: $image;
  -o-border-image: $image;
  border-image: $image;
}

@mixin opacity($opacity: 100) {
  filter: alpha(opacity = $opacity);
  -khtml-opacity: $opacity / 100;
  -moz-opacity: $opacity / 100;
  opacity: $opacity / 100;
}

@mixin text-shadow($x-axis: 0, $y-axis: 1px, $casting: 0, $color: white) {
  text-shadow: $x-axis $y-axis $casting $color;
}

@mixin transition($property: all, $duration: 0.5s, $function: ease-in-out) {
  -moz-transition: $property $duration $function;
  -o-transition: $property $duration $function;
  -webkit-transition: $property $duration $function;
  transition: $property $duration $function;
}

@mixin transform($property: none) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin transform-origin($axes: 50%) {
  -webkit-transform-origin: $axes;
  -moz-transform-origin: $axes;
  -ms-transform-origin: $axes;
  -o-transform-origin: $axes;
  transform-origin: $axes;
}

@mixin box-shadow($shadow: 0 1px 3px rgba(0, 0, 0, 0.25)) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin gradient($from: #111111, $to: #333333) {
  background: $from;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, $from, $to);
  /* for firefox 3.6+ */
}

@mixin horizontal-gradient ($startColor: #555, $endColor: #333) {
  background-color: $endColor;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, right top, from($startColor), to($endColor)); // Konqueror
  background-image: -moz-linear-gradient(left, $startColor, $endColor); // FF 3.6+
  background-image: -ms-linear-gradient(left, $startColor, $endColor); // IE10
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $startColor), color-stop(100%, $endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(left, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(left, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient(left, $startColor, $endColor); // Le standard
}
@mixin vertical-gradient ($startColor: #555, $endColor: #333) {
  background-color: $endColor;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from($startColor), to($endColor)); // Konqueror
  background-image: -moz-linear-gradient($startColor, $endColor); // FF 3.6+
  background-image: -ms-linear-gradient($startColor, $endColor); // IE10
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $startColor), color-stop(100%, $endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient($startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient($startColor, $endColor); // Opera 11.10
  background-image: linear-gradient($startColor, $endColor); // The standard
}
@mixin directional-graident ($startColor: #555, $endColor: #333, $deg: 45deg) {
  background-color: $endColor;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient($deg, $startColor, $endColor); // FF 3.6+
  background-image: -ms-linear-gradient($deg, $startColor, $endColor); // IE10
  background-image: -webkit-linear-gradient($deg, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient($deg, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient($deg, $startColor, $endColor); // The standard
}
@mixin vertical-three-color-gradient($startColor: #00b3ee, $midColor: #7a43b6, $colorStop: 50%, $endColor: #c3325f) {
  background-color: $endColor;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), color-stop($colorStop, $midColor), to($endColor));
  background-image: -webkit-linear-gradient($startColor, $midColor $colorStop, $endColor);
  background-image: -moz-linear-gradient($startColor, $midColor $colorStop, $endColor);
  background-image: -ms-linear-gradient($startColor, $midColor $colorStop, $endColor);
  background-image: -o-linear-gradient($startColor, $midColor $colorStop, $endColor);
  background-image: linear-gradient($startColor, $midColor $colorStop, $endColor);
}

/* Don't use native buttons on iOS */
input[type=submit].button {
  -webkit-appearance: none;
}

@mixin button-style($color) {
  @include gradient($color, darken($color, 10%));
  &:hover {
    @include gradient(darken($color, 5%), darken($color, 10%));
    @include transition(background-color, .2s);
  }
  &:active {
    @include gradient(darken($color, 16%), darken($color, 9%));
    @include transition(background-color, .2s);  
  }
}

@mixin button($color: #fafafa, $text_color: #333, $width: 80px) {
  @include border-radius(4px);
  background: $color;
  cursor: pointer;
  color: $text_color;
  display: inline-block;
  text-align: center;
  padding: 8px;
  overflow: hidden;
  border:1px solid darken($color, 10%);

  @if $width {
    min-width: $width;
  }
  @include button-style($color);
}

.button{
  display:block;
  margin:20px 0;
}
.button, input.button {
  @include button();
}
.black .button {
   @include button(#ffffff);
}
.button.main {
  @include button();
}
.button.delete {
  @include button();
}
