// PROJECT SETTINGS
// ---------------

$link-color: #0069d6;
$link-color-hover: darken($link-color, 15);

// COLORS
// ---------------

$black: #000;

$gray-dark: lighten($black, 10%);
$gray: lighten($black, 20%);
$gray-light: lighten($black, 30%);
$gray-lighter: lighten($black, 40%);

$white: #fff;

$blue: #46A5CC;
$green: #46a546;
$red: #9d261d;
$yellow: #ffc40d;
$orange: #f89406;
$pink: #c3325f;
$purple: #7a43b6;

// FONTS
// ---------------

$sans: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;
$mono: Consolas, monaco, monospace;

// TYPOGRAPHY
// ---------------

$font-size: 15px;
$baseline: 24px;