// PROJECT SETTINGS
// ---------------

$link-color: #0069D6;
$link-color-hover: darken($link-color, 15);

// COLORS
// ---------------

$black: #000;

$gray-dark: lighten($black, 30%);
$gray: lighten($black, 40%);
$gray-light: lighten($black, 50%);
$gray-lighter: lighten($black, 60%);

$white: #FFF;

$blue: #008FD5;
$green: #46A546;
$red: #BD362F;
$yellow: #FFC40d;
$orange: #EC601C;
$pink: #C3325F;
$purple: #7A43B6;

// FONTS
// ---------------

$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;
$monospace: Monaco, Menlo, Consolas, "Courier New", monospace;

// TYPOGRAPHY
// ---------------

$font-size: 16px;
$baseline: 24px;