// PROJECT SETTINGS
// ---------------

$link-color: #0069d6;
$link-color-hover: darken($link-color, 15);

// COLORS
// ---------------

$black: #000;

$gray-dark: lighten($black, 10%);
$gray: lighten($black, 20%);
$gray-light: lighten($black, 30%);
$gray-lighter: lighten($black, 40%);

$white: #fff;

$blue: #46A5CC;
$green: #46a546;
$red: #9d261d;
$yellow: #ffc40d;
$orange: #f89406;
$pink: #c3325f;
$purple: #7a43b6;

// FONTS
// ---------------

$sans: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: Georgia, serif;
$mono: 'Andale Mono WT', Monaco, 'Courier New', Courier, monospace;

// TYPOGRAPHY
// ---------------

$font-size: 14px;
$baseline: 24px;