/**====================================

  TABLES

=======================================*/

table {
  margin-bottom: $baseline;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}

td {
  padding: $baseline $baseline/2;
  border-bottom: 1px solid #ddd;
}

th {
  padding: $baseline $baseline/2;
  border-bottom:1px solid #ddd;
  background: url(../../images/stripe.png);
  font-weight: bold;
  text-align: left;
}

tr:nth-child(even) {
  background: url(../../images/stripe.png);
}

tfoot {
  font-style: italic;
}

caption {
  background: #ffffcc;
}
