/**====================================

  TABLES

=======================================*/

table {
  margin-bottom: $baseline;
  width: 100%;
  border:1px solid #ddd;
}

th {
  background: url(../../images/stripe.png);
  font-weight: bold;
  text-align: left;
}

td {
  padding: 9px 11px 8px;
  border-bottom: 1px solid #ddd;
  border-right:1px solid #ddd;
}

th {
  padding: 9px 11px 8px;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
}

tr:nth-child(even) {
  background: url(../../images/stripe.png);
}

tfoot {
  font-style: italic;
}

caption {
  background: #ffffcc;
}
