/**====================================

  TYPOGRAPHY

=======================================*/

body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dt,dl,input,textarea {
  line-height: 1.5em;
  font-family: $sans;
  color: $grayDark;
  font-size: 16px;
  text-rendering: optimizelegibility;
}

/*=HEADINGS
=======================================*/

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  line-height: 1.5;
}

h1 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2;
}

h2 {
  margin-bottom: 0.75em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
}

h3 {
  margin-bottom: 1em;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.3;
}

h4 {
  margin-bottom: 1.5em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
}

h5 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
}

h6 {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
}

/*=LISTS
=======================================*/

ol, ul, dl {
  padding: 0;
}

ol {
  margin-bottom: $baseline;
  margin-left: $baseline;
  ol {
    margin-bottom: 0;
  }
}

ul {
  margin-bottom: $baseline;
  list-style: none;
  li {
    margin-bottom: $baseline/2;
    ul {
      margin-left: 0;
      margin-bottom: $baseline / 2;
    }
  }
}

ul.unstyled {
  list-style: none;
  li {
    margin-left: 0;
  }
}

dl {
  margin-bottom: $baseline/2;
  dt {
    font-weight: bold;
    margin-bottom: $baseline/2;
  }
  dd {
    margin-bottom: $baseline/2;
  }
}

/*=LINKS
=======================================*/

a {
  text-decoration: none;
  cursor: pointer;
  color:$blue;
}

a:hover {
  
}

a:focus {
  outline: none;
}

/*=PARAGRAPHS
=======================================*/

p {
  margin-bottom:$baseline; 
}