/**====================================

  @Project MyProject
  @Type Website | Application
  @Version 1.0
  @Date 
  @Author Name

=======================================*/

@import 'reset';
@import 'settings';
@import 'mixins';
@import 'fluid';
@import 'base';

@import 'buttons';
@import 'forms';
@import 'typography';
@import 'tables';
@import 'mediaqueries';

/**====================================

  Start Project

=======================================*/

section {
  display:block;
  margin-bottom:$baseline;
  clear:both;
  overflow: hidden;
}