/**====================================

  @Project MyProject
  @Type Website
  @Version 1.0
  @Date 
  @Author [Name]

=======================================*/

@import 'reset';
@import 'settings';
@import 'mixins';
@import 'grid';
@import 'base';

@import 'forms';
@import 'typography';
@import 'tables';
@import 'media';

/**====================================

  CSS HERE

=======================================*/

section {
  clear:both;
  margin-bottom:24px;
  overflow:hidden;
}

@for $i from 1 to 12 {
  .span-#{$i}{
    margin-bottom:12px;
  }
}