@import "lib/core";

/*-----------------------------------

 Your CSS goes here

-----------------------------------*/

html{
  background:#ccc;
}

body{

  min-height: 100%;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  @include background-sheen();
}

.container {
  max-width: $width;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

section {clear:both;margin-bottom:40px;overflow:hidden;}

/*-----------------------------------

 Media Queries. 
 Must be below main css to override 

-----------------------------------*/

//Media Queries
@import "lib/layout/media_queries";




