// BASE CSS
// --------------

html {
  font-size: 62.5%;
}

body {
  background: $white;
  font-family: $bodyFontFamily;
  font-weight: 500;
  line-height: 1;
  color: $bodyFontColor;
  position: relative;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.clear {
  clear: both;
}
